@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
    color: rgb(76, 73, 73);
    font-family: "Lato",sans-serif;
    background: rgba(227, 172, 172, 0.915);
}

.nav{
    background: "white"
}